#video {
    visibility: hidden;
    position: absolute;
}

* {
    font-family: luminari, fantasy;
}

header {
    text-align: center;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: darkslategray; */
    background-color: gray;
    background-image: url("./stonewall.jpeg");

}

button {
    height: 8vh;
    width: 20vh;
    color: black;
    background-color: lightgray;
    padding-top: 1%, 5%, 1%, 5%;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    opacity: 70%;
    border-radius: 5px 20px;
    /* margin-right: 50px; */
}

#startButton {
    height: 13vh;
    width: 25vh;
    color: black;
    font-size: 25px;
    background-color: lightgray;
    margin-top: 10vh;
    padding-top: 1%, 5%, 1%, 5%;
    opacity: 70%;
    border-radius: 5px 20px;

}

#d1 {
    margin-right: 10px;
}

#d2 {
    margin-left: 10px;
}

#torch1 {
    height: 200px;
    width: 100px;
    /* margin-right: 800px */
}

#torch2 {
    height: 200px;
    width: 100px;
}

#container {
    display: flex;
    justify-content: space-between;
}

#buttonbox {
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
    visibility: hidden;
}

#buttonbox.show {
    visibility: visible;
}

.boom {
    color: black;
    animation: fadeOut 12s forwards;
    font-size: 24px;
    background-color: rgb(40, 20, 60, .4);
}

@keyframes fadeOut {
    80% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

#scenename {
    text-align: center;

}

#container {
    display: flex;
    justify-content: center;
    align-items: center;

}

#instructionbox {
    width: 50vw;
    height: 28vh;
    background-image: url("./scroll2.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    opacity: 100%;
}

@media (max-width: 750px) {
    #instructionbox {
        font-size: 15px;
    }
}

@media (max-width: 650px) {
    #instructionbox {
        font-size: 14px;
    }
}

@media (max-width: 600px) {
    #instructionbox {
        font-size: 13px;
    }
}

@media (max-width: 490px) {
    #instructionbox {
        font-size: 12px;
    }
}

.instructions {
    margin-left: 10%;
    padding-top: 3vh;
    width: 40vw;
    opacity: 100%;
    text-align: center;
}

#outcome {
    margin-bottom: 5px;
    margin-top: 10px;
    width: 70vw;
    text-align: center;
}

#characters {
    /* height: 20vh;
    width: 15vw; */
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: baseline;
}

#charactersRow2 {
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: baseline;
}

.aryaGif {
    height: 14vh;
    width: auto;
}

.tyrionGif {
    height: 12vh;
}

.redGif {
    height: 15vh;
}


/* Dany text */
#danytext {
    visibility: hidden;
    position: absolute;
    color: black;
    opacity: 0;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    padding-top: 7%;

}

.danyGif {
    height: 20vh;
    width: 15vw
}

.danywrap {
    height: 20vh;
    width: 15vw;
    position: relative;
}

.danywrap:hover #danytext {
    visibility: visible;
    opacity: 1;
    background: rgba(189, 194, 184, 0.6);

}

/* Arya text */
#aryatext {
    visibility: hidden;
    position: absolute;
    color: black;
    opacity: 0;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    padding-top: 7%;

}

.aryawrap {
    height: 14vh;
    width: 8vw;
    position: relative;
}

.aryawrap:hover #aryatext {
    visibility: visible;
    font-size: 12px;
    opacity: 1;
    background: rgba(189, 194, 184, 0.6);

}

/* Khal Drogo */
#khaltext {
    visibility: hidden;
    position: absolute;
    color: black;
    opacity: 0;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    padding-top: 25%;
}

.khalwrap {
    height: 26vh;
    width: 12vw;
    position: relative;
}

.khalwrap:hover #khaltext {
    visibility: visible;
    opacity: 1;
    background: rgba(189, 194, 184, 0.6);

}

/* Khal Drogo */
#redtext {
    visibility: hidden;
    position: absolute;
    color: black;
    opacity: 0;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    padding-top: 25%;
}

.redwrap {
    height: 13vh;
    width: 5vw;
    position: relative;
}

.redwrap:hover #redtext {
    visibility: visible;
    opacity: 1;
    background: rgba(189, 194, 184, 0.6);

}

/* tyrion  */
#tyriontext {
    visibility: hidden;
    position: absolute;
    color: black;
    opacity: 0;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    padding-top: 25%;
    font-size: 8px;
}

.tyrionwrap {
    height: 12vh;
    width: 8vw;
    position: relative;
}

.tyrionwrap:hover #tyriontext {
    visibility: visible;
    opacity: 1;
    background: rgba(189, 194, 184, 0.6);

}

/* raven  */
#raventext {
    visibility: hidden;
    position: absolute;
    color: black;
    opacity: 0;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    padding-top: 25%;
}

.ravenGif {
    height: 10vh;
    width: 6vw;
}

.ravenwrap {
    height: 10vh;
    width: 6vw;
    position: relative;
}

.ravenwrap:hover #raventext {
    visibility: visible;
    opacity: 1;
    background: rgba(189, 194, 184, 0.6);
}

/* jon  */
#jontext {
    visibility: hidden;
    position: absolute;
    color: black;
    opacity: 0;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    padding-top: 25%;
}

.jonGif {
    height: 20vh;
    width: 10vw;
}

.jonwrap {
    height: 20vh;
    width: 10vw;
    position: relative;
}

.jonwrap:hover #jontext {
    visibility: visible;
    opacity: 1;
    background: rgba(189, 194, 184, 0.6);
}