#video {
    visibility: hidden;
    position: absolute;
}

* {
    font-family: luminari, fantasy
}

header {
    text-align: center;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: darkslategray;
}

button {
    height: 8vh;
    width: 20vh;
    color: black;
    background-color: lightgray;
    padding-top: 1%, 5%, 1%, 5%;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    opacity: 70%;
    border-radius: 5px 20px;
    /* margin-right: 50px; */
}
#d1{
    margin-right: 10px;
}
#d2{
    margin-left: 10px;
}
#torch1 {
    height: 200px;
    width: 100px;
    margin-right: 800px
}

#torch2 {
    height: 200px;
    width: 100px;
}

#container {
    display: flex;
    justify-content: space-between;
}

#buttonbox {
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
    visibility: hidden;
}

#buttonbox.show {
    visibility: visible;
}

.boom {
    color: orangered;
    animation: fadeOut 5s forwards;
    font-size: 24px;
}

@keyframes fadeOut {
    80%{
        opacity: 1;
    }100% {
    opacity: 0;
    }
}
#scenename{
    text-align: center;
}