#video {
    visibility: hidden;
    position: absolute;
}

* {
    font-family: luminari, fantasy;

}

header {
    text-align: center;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: darkslategray;
    background-image: url("./stonewall.jpeg");

}

button {
    height: 8vh;
    width: 20vh;
    color: black;
    background-color: lightgray;
    padding-top: 1%, 5%, 1%, 5%;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    opacity: 70%;
    border-radius: 5px 20px;
    /* margin-right: 50px; */
}
#startButton{
    height: 13vh;
    width: 25vh;
    color: black;
    font-size: 25px;
    background-color: lightgray;
    margin-top: 10vh;
    padding-top: 1%, 5%, 1%, 5%;
    opacity: 70%;
    border-radius: 5px 20px;

}

#d1 {
    margin-right: 10px;
}

#d2 {
    margin-left: 10px;
}

#torch1 {
    height: 200px;
    width: 100px;
    /* margin-right: 800px */
}

#torch2 {
    height: 200px;
    width: 100px;
}

#container {
    display: flex;
    justify-content: space-between;
}

#buttonbox {
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
    visibility: hidden;
}

#buttonbox.show {
    visibility: visible;
}

.boom {
    color: orangered;
    animation: fadeOut 10s forwards;
    font-size: 24px;
}

@keyframes fadeOut {
    80% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

#scenename {
    text-align: center;

}

#container {
    display: flex;
    justify-content: center;
    align-items: center;

}

#instructionbox {
    width: 50vw;
    height: 40vh;
    background-image: url("./scroll2.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    opacity: 100%;

}

.instructions {
    margin-left: 10%;
    padding-top: 4vh;
    width: 40vw;
    opacity: 100%;
    text-align: center;
}




#outcome {
    padding-bottom: 10vh;
}